src/test/resources/patient_lab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="patient_lab" type="patient_labType"/>
  <xs:complexType name="labType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="lab1"/>
            <xs:enumeration value="lab2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="date"/>
      <xs:element name="result">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ok"/>
            <xs:enumeration value="error"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labsType">
    <xs:sequence>
      <xs:element type="labType" name="lab" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patient_labType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="labsType" name="labs"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>